nav#navbar-principal.navbar.navbar-expand-lg.fixed-top.nav-pills

  button.navbar-toggler.border(
    type='button',
    data-toggle='collapse',
    data-target='#navbar-items',
    aria-controls='navbar-items',
    aria-expanded='false',
    aria-label='Toggle navigation'
   )

    span.text-white.fa.fa-bars

  div#navbar-items.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
        li.nav-item
            a.nav-link.text-white(href='#presentation') Home
        li.nav-item
            a.nav-link.text-white(href='#about') Sobre
        li.nav-item
            a.nav-link.text-white(href='#experience') Experiência
        li.nav-item
            a.nav-link.text-white(href='#methodology') Metodologia
        li.nav-item
            a.nav-link.text-white(href='#contact') Contato

    ul.navbar-nav
        li.nav-item
            span.nav-link.text-white + 55 61 99261.7539 <i class="fa fa-whatsapp"></i>
